TELEGRAM_BOT_TOKEN=your_telegram_bot_token
ANTICAPTURE_DATABASE_URL=postgres://user:password@localhost:5432/daos_database
USERS_DATABASE_URL=postgres://user:password@localhost:5432/users_database
API_PORT=3000