TELEGRAM_BOT_TOKEN=your_telegram_bot_token
ANTICAPTURE_GRAPHQL_ENDPOINT=https://api-gateway/graphql
BLOCKFUL_API_TOKEN=
SUBSCRIPTION_SERVER_URL=http://localhost:3001
API_PORT=3000
WEBHOOK_API_PORT=3003
